body {
  /* height: 100%;
  background:#0D343A;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(13,52,58,1) ), to(#000000)  );
  background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat; */

}

.spacing {
  padding-top: 50px;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 1080px;
  height: 100%;
  /* background-color: #b61924; */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
